/*Apply CSS using -fx-property-...... :  .....   ;    */

#header{
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-text-trf: uppercase;
    -fx-font-family: "Curlz MT";
}

.button{
    -fx-background-color: #0b0e4d;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.root{
    /*-fx-background-color: rgba(243,32,0,0.7);*/
    /*-fx-background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--g5U7rjb2--/c_scale,f_auto,fl_progressive,q_80,w_800/xekr6zijm3lrugantyqz.jpg");*/
    /*-fx-background-image: url("image/c.webp");*/
    -fx-background-image: url("image/start_page_image.png");
}
#error{
    -fx-text-fill: white;
}
