.header{
    -fx-font-size: 13px;
    -fx-min-width: 33%;
    -fx-text-alignment: center;
    -fx-font-weight: medium;
}

#label{
    -fx-font-family: Montserrat; -fx-text-fill: black; -fx-font-size: 20px; -fx-alignment: center; -fx-font-weight: medium;
}